Repository HoldYourBreath/FinanceTool: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, prettier-frontend, tsc-frontend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.7
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: eslint-frontend
        name: eslint (frontend)
        language: system
        pass_filenames: false
        entry: bash -lc 'cd frontend && npm run -s lint'
        types_or: [javascript, jsx, ts, tsx]

      - id: prettier-frontend
        name: prettier (frontend)
        language: system
        pass_filenames: false
        entry: bash -lc 'cd frontend && npm run -s format:check'
        types_or: [javascript, jsx, ts, tsx, css, json, html, markdown, yaml]

      - id: tsc-frontend
        name: typecheck (frontend)
        language: system
        pass_filenames: false
        entry: bash -lc 'cd frontend && npx tsc -p tsconfig.json --noEmit'
        files: ^frontend/

fix pre commit
  .gitattributes
  .pre-commit-config.yaml
  frontend/.prettierignore
  frontend/package.json
  frontend/src/api/axios.js
  frontend/src/api/cars.js
  frontend/src/api/intercept-all-axios.jsx
  frontend/src/components/CarEvaluation/CarRow.jsx
  frontend/src/components/CarEvaluation/CarsTable.jsx
  frontend/src/components/CarEvaluation/PriceAndFinancingPanel.jsx
  frontend/src/components/CarEvaluation/carCalc.jsx
  frontend/src/components/CarEvaluation/index.jsx
  frontend/src/components/HouseCostsTab.jsx
  frontend/src/components/Investments.jsx
  frontend/src/components/MonthlyOverview.jsx
  frontend/src/components/PastMonths.jsx
  frontend/src/components/SpendingPlanner.jsx
  frontend/src/components/TopNav.tsx
  frontend/src/hooks/usePrices.jsx
  frontend/src/utils/carCalc.jsx
  frontend/src/utils/carCost.jsx
  frontend/tsconfig.json
  frontend/vite.config.js
  tests/tsconfig.json
  tsconfig.json
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix ci
  .pre-commit-config.yaml
Due: prettier-frontend

fix ci2
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  frontend/tsconfig.json
Due: prettier-frontend, tsc-frontend

fix ci3
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
Due: prettier-frontend, tsc-frontend

add lighthouse and sentry ci
  .github/workflows/actionLint.yml
  .github/workflows/ci.yml
  backend/app.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.jsx
  frontend/src/sentry.ts
  frontend/vite.config.js
  lighthouserc.json
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix double ci
  .github/workflows/actionLint.yml
  .lighthouserc.cjs
  README.md
  backend/.env.demo
  backend/.env.dev
Due: eslint-frontend, prettier-frontend

split ci to more files
  .github/workflows/ci-core.yml
  .github/workflows/ci-nightly.yml
  .github/workflows/workflow-lint.yml
Due: prettier-frontend

fix actionlint
  .github/workflows/ci-core.yml
  .github/workflows/workflow-lint.yml
Due: prettier-frontend

fix actionlint2
  .github/workflows/ci-core.yml
Due: prettier-frontend

fix ci-nightly
  .github/workflows/ci-nightly.yml
Due: prettier-frontend

fix ci-core
  .github/workflows/ci-core.yml
Due: prettier-frontend

fix ci-core2
  .github/workflows/ci-core.yml
Due: prettier-frontend

fix serve SPA
  .github/workflows/ci-core.yml
Due: prettier-frontend

refactor ci
  .github/workflows/ci-core.yml
  scripts/ci/init_db.sh
  scripts/ci/install_frontend.sh
  scripts/ci/run_lhci.sh
  scripts/ci/serve_spa.sh
  scripts/ci/start_backend.sh
  scripts/ci/warm_backend.sh
Due: prettier-frontend

fix refactored ci
  .gitattributes
  .github/workflows/ci-core.yml
  scripts/ci/install_frontend.sh
Due: prettier-frontend

fix refactored ci2
  .github/workflows/ci-core.yml
  scripts/ci/install_frontend.sh
Due: prettier-frontend

fix lighthouse ci
  .github/workflows/ci-core.yml
  scripts/ci/init_db.sh
Due: prettier-frontend

fix init_db
  scripts/ci/init_db.py
Due: none

add env python to init_db
  scripts/ci/init_db.py
Due: none

fix nightly ci
  .github/workflows/ci-nightly.yml
Due: prettier-frontend

fix nightly ci, add dockerfile
  .github/workflows/ci-nightly.yml
  backend/Dockerfile.dev
  docker-compose.dev.yml
Due: prettier-frontend

fix lint workflow complaints
  .github/workflows/ci-nightly.yml
Due: prettier-frontend

ci: make CI scripts executable and LF
  scripts/ci/install_frontend.sh
  scripts/ci/run_lhci.sh
  scripts/ci/start_backend.sh
Due: none

add scripts to use bash
  .gitattributes
  .github/workflows/ci-core.yml
Due: prettier-frontend

fix ci-nightly linting
  .github/workflows/ci-nightly.yml
Due: prettier-frontend

fix warm backend bash
  .github/workflows/ci-core.yml
Due: prettier-frontend

fix ci-nightly linting2
  .github/workflows/ci-nightly.yml
Due: prettier-frontend

trigger ci on all commits
  .github/workflows/ci-core.yml
Due: prettier-frontend

improve ci
  .github/workflows/ci-core.yml
  backend/pyproject.toml
  pyproject.toml
Due: prettier-frontend

chore: apply pre-commit formatting
  backend/app.py
  backend/config.py
  backend/models/models.py
  backend/routes/acc_info.py
  backend/routes/cars/pricing.py
  backend/routes/cars/routes.py
  backend/routes/cars/serialize.py
  backend/routes/file_upload_routes.py
  backend/routes/house.py
  backend/routes/investments.py
  backend/routes/loans.py
  backend/routes/months.py
  backend/routes/planned_purchases.py
  backend/routes/settings.py
  backend/seeds/seed_acc_info.py
  backend/seeds/seed_all.py
  backend/seeds/seed_cars.py
  backend/seeds/seed_house_land.py
  backend/seeds/seed_incomes_demo.py
  backend/seeds/seed_investments.py
  backend/seeds/seed_months.py
  backend/seeds/seed_planned_purchases.py
  backend/seeds/seed_price_settings.py
  backend/tools/bootstrap_schema.py
  backend/utils/db_bootstrap.py
  backend/utils/tco.py
Due: none

add docker without data
  .dockerignore
  backend/Dockerfile
  backend/Dockerfile.dev
  docker-compose.dev.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/tsconfig.json
  tsconfig.json
Due: prettier-frontend, tsc-frontend

add db path to docker
  docker-compose.dev.yml
Due: prettier-frontend

add docker with partial data
  backend/routes/__init__.py
  backend/routes/my_new_tab.py
  docker-compose.demo.yml
  frontend/vite.config.js
  run_demo_docker.ps1
  run_dev_docker.ps1
Due: eslint-frontend, prettier-frontend, tsc-frontend

linting
  backend/routes/__init__.py
  backend/routes/my_new_tab.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TopNav.tsx
  frontend/tsconfig.json
  frontend/vite.config.js
  scripts/ci/init_db.py
Due: eslint-frontend, prettier-frontend, tsc-frontend

fix ci
  .pre-commit-config.yaml
  frontend/tsconfig.json
Due: prettier-frontend, tsc-frontend

Format tsconfig.ci.json (prettier)
  .pre-commit-config.yaml
  frontend/tsconfig.ci.json
Due: prettier-frontend, tsc-frontend

fix app typecheck ignores tests
  .github/workflows/ci-core.yml
  backend/.env.demo
  backend/.env.dev
  frontend/tsconfig.ci.json
Due: prettier-frontend, tsc-frontend

fix tests/tsconfig.json
  tests/package-lock.json
  tests/package.json
  tests/tsconfig.json
Due: prettier-frontend

fix tests/tsconfig.json2
  tests/tsconfig.json
Due: prettier-frontend
